.header {
    padding-left: 20px;
    margin-bottom: none;
    text-align: center;
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border: 1px solid;
}

.principal {
    background: #CCCCCC;
    padding: 20px;
    border: 1px solid;
}

.title-center {
    text-align: center;
}

p {
    text-align: center;
}

.p-mid{
    font-size: 20px;
}

.p-mid strong {
    color: rgb(255, 0, 0);
}

.items {
    font-style: italic;
}

.beneficios {
    background: rgb(255, 255, 255);
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
    height: 250px;
}

footer ul {
    border: 2px solid #000000;
}

footer li {
    padding: 2px;
}

footer img {
    border-radius: 10px;
}